doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    style
      include style.css
    style
      include css/bootstrap.min.css
    title= RaspTorrent
  body
    h1 RaspTorrent
    form(method='GET' action='')
      input.form-control(type='text' placeholder='Search...' name='q')
    table(class='table table-striped table-hover')
      each result in results
        tr
          td
            a(href='download?magnet_uri=' + result.magnetLink, target='_blank')
              img(src='/media/icon-magnet.gif')
          td #{result.name}
          td #{result.size}
          td #{result.category.name}
          td #{result.seeders}
          td #{result.leechers}
