doctype html
html(lang="en")
  head
    title= RaspTorrent
  body
    a test
    a
      tr
        td test
        td hello
    h1 RaspTorrent
    table
      tr
        th name
        th size
        th category
        th seeders
        th leechers
      tr(href=flsdkjflkj)
        td #{result.name}
        td #{result.size}
        td #{result.category.name}
        td #{result.seeders}
        td #{result.leechers}
